@import "src/assets/styles/colors";

.wrapper {
  position: relative;
  background: #424242;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  height: 15px;
  width: 515px;
  @media screen and (max-width: 640px) {
    width: 100%;
  }

  .progressBar {
    height: 15px;
    position: absolute;
    border-radius: 30px;
    width: 515px;
    opacity: 1;
    z-index: 2;
    background: $purple;
    overflow: hidden;
    animation: progressBar 2.5s ease-in-out forwards;
    display: block;
    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }
}

@keyframes progressBar {
  0% {
    left: 0;
    width: 0;
  }
  99% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 0;
    width: 0;
  }
}