.component {
  .quote {
    font-size: 27px;
    max-width: 60%;
    user-select: none;
  }

  &__illustration {
    position: fixed;
    right: 0;
    bottom: 0;

    path {
      cursor: pointer;
    }
  }
}