.component {
  .quote {
    font-size: 27px;
    max-width: 55%;
    user-select: none;
  }

  .up {
    &:hover {
      animation: heyhey 0.3s forwards;
    }
  }

  &__illustration {
    position: fixed;
    right: 0;
    bottom: 0;

    path {
      cursor: pointer;
    }
  }
}

@keyframes heyhey {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}