.component {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  li:nth-child(1) {
    font-family: "gastromond", sans-serif;
    font-size: 60px;
    @media screen and (max-width: 640px) {
      font-size: 50px;
    }
      img {
      animation: out 1s;
    }
    &:hover {
      img {
        animation: in 1s;
      }
    }
  }

  li:nth-child(2) {
      font-family: 'Laca', sans-serif;
      font-size: 52px;
      font-style: italic;
      font-weight: bold;

      img {
        animation: out 1s;
      }

      &:hover {
        img {
          animation: in 1s;
        }
      }
  }

  li:nth-child(3) {
      font-family: "adobe-garamond-pro", serif;
      font-size: 52px;
      font-style: italic;
      font-weight: 700;

      img {
        animation: out 1s;
      }

      &:hover {
        img {
          animation: in 1s;
        }
      }
  }

  li:nth-child(4) {
      font-family: "temeraire", serif;
      font-size: 80px;
      font-style: italic;
      font-weight: 600;

      img {
        animation: out 1s;
      }

      &:hover {
        img {
          animation: in 1s;
        }
      }
  }

  li:nth-child(5) {
    a {
      font-family: 'Laca', sans-serif;
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 700;

      img {
        animation: bigger2In 1s;
      }

      &:hover {
        img {
          animation: bigger2Out 1s;
        }
      }
    }
  }
}

@keyframes in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}

@keyframes out {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes bigger2In {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(10);
  }
}

@keyframes bigger2Out {
  0% {
    transform: scale(10);
  }
  100% {
    transform: scale(1);
  }
}

