.component {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  li:nth-child(1) {
    a {
      font-family: "gastromond", sans-serif;
      font-size: 60px;
    }
  }

  li:nth-child(2) {
    a {
      font-family: 'Laca', sans-serif;
      font-size: 52px;
      font-style: italic;
      font-weight: bold;
    }
  }

  li:nth-child(3) {
    a {
      font-family: "adobe-garamond-pro", serif;
      font-size: 52px;
      font-style: italic;
      font-weight: 700;
    }
  }

  li:nth-child(4) {
    a {
      font-family: "temeraire", serif;
      font-size: 80px;
      font-style: italic;
      font-weight: 600;
    }
  }

  li:nth-child(5) {
    a {
      font-family: 'Laca', sans-serif;
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
