@import "src/assets/styles/colors";

.component {
  background: $yellow;
  color: $black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;

  &__title {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;

    @media screen and (max-width: 640px) {
      font-size: 50px;
    }
  }

  &__img {
    margin-left: 40px;
    width: 40%;
    @media screen and (max-width: 640px) {
      margin-left: 20px;
      width: 85%;
    }
  }

  &__background {
    position: absolute;
    right: 0;
    bottom: -20px;
    animation: upOut .5 forwards;
    @media screen and (max-width: 640px) {
      width: 50%;
    }

    &:hover {
      animation: upIn .5s forwards;
    }
  }

  &__about {
    font-size: 38px;

    @media screen and (max-width: 640px) {
      font-size: 28px;
    }
  }

  &__contact {
    font-size: 30px;
    @media screen and (max-width: 640px) {
      font-size: 20px;
    }
  }
}

.question {
  z-index: 20;
  position: fixed;
  user-select: none;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

@keyframes upIn {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes upOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}