.container {
  margin: 10vh 10vw;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.bigMargin {
  margin-bottom: 80px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


