.component {
  &__result {
    font-family: 'Laca', sans-serif;
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;

    @media screen and (max-width: 640px) {
      font-size: 40px;
    }
  }

  &__content {
    font-size: 48px;

    @media screen and (max-width: 640px) {
      font-size: 28px;
    }
  }

  &__separator {
    width: 100%;
    height: 5px;
    background: white;
    margin-bottom: 48px;
  }
}